#miCanvas{/*área del canvas*/
	width: 450px;
	height: 450px;
	margin: 10px;
	border: 1px solid #999999;
}
#canvas{
	width: 500px;/*Seccion canvas*/
	height: 500px;
	margin: 10px;
	border: 1px solid #999999;
}
#formulario{/* para ubicar el formulario con el combo, radio's y boton.*/
	float: bottom;
	padding: 20px;
	border: 1px solid #999999;
}
#tabla{
	float: left;/*para ponermos nuestra tabla con el menú desplegable de 
	figuras a dibujar y otros input tipo color al lado izquierdo*/
	width: 320px;		
	margin: 10px;
	border: 1px solid #999999;
}*/
